@model  IEnumerable<LNCLibrary.Models.Order>

@{
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h4>@ViewData["Title"]</h4>


@*@Html.Partial("_StatusMessage", Model.StatusMessage)*@
<div class="row">
    <h2>Your Orders</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FinalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConfirmationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfPurchase)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        $@Html.DisplayFor(modelItem => item.FinalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConfirmationNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfPurchase)
                    </td>
                    <td>
                        <a asp-action="OrderDetails" asp-route-id="@item.ID">Details</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
